.keyboard {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.guessed {
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.keyboard, .password {
    display: inline-block;
    color: aliceblue;
    width: 50px;
    height: 50px;
    max-width: 100px;
    max-height: 100px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 5px;
    line-height: 40px;
}

.keyboard {
    border-radius: 20%;
    background-color:#0b090a;
    font-size: larger;
    border: 3px solid rgb(110, 1, 1);
}

.keyboard:not(.guessed):hover {
    background-color:#6a040f;
}

.password {
    border-bottom: solid 3px aliceblue;
    font-size: xx-large;
}

.transparent {
    color: transparent;
}

.guessed {
    background-color:rgba(11, 9, 10, 0.3);
    border: 3px solid rgba(110, 1, 1, 0.3);
}

